@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/* @import '../pages/overview.css'; */

.ant-card {
  border: none;
}



/* :root {
  --header-height: 64px;
  --header-spacing: 1px;
  --total-header-height: calc(var(--header-height) + var(--header-spacing));
}

.user-dropdown-trigger:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-menu.ant-menu-dark {
  background: var(--bulgarian-rose);
}

.sidebar-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: var(--persian-red) !important;
}

.sidebar-menu.ant-menu-dark .ant-menu-item:hover {
  background-color: var(--carnelian) !important;
}

.ant-layout-sider-trigger {
  background: var(--rosewood) !important;
} */
